html { 
    height: 100%;
    width: 100%;
}

body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Lucida Grande;
}

#mapsContainer {
    width: 200%;
    height: 100%;
}
.mapOut{
    width: 50%;
    transition:left 0.7s;
    -webkit-transition:left 0.7s;
    float: left;
    position: relative;
    background-color: #444;
}

.map {
    min-height: 500px;
    margin: 30px;
    box-shadow: 0 0 15px 5px #000;
}

div.left {
    margin-right: 50px;
}

div.right {
    margin-left: 50px;
}

.arrow {
    width: 90px;
    height: 90px;
    display: inline-block;
    position: absolute;
    top: 240px;
    cursor: pointer;
}

#toSearch {
    background: url(../images/next.png) no-repeat;
    right: 27px;
}

#toRealtime {
    background: url(../images/previous.png) no-repeat;
    left: 27px;
}

@mixin panel {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    right: 50px;
    position: absolute;
    padding: 10px;
    color: white;
}

#searchPanel {
    @include panel;
    width: 240px;
    top: 60px;
}

#locationPanel {
    @include panel;
    width: 240px;
    top: 135px;
}

#infoPanel {
    @include panel;
    top: 220px;
    bottom: 80px;
    width: 330px;
    min-height: 320px;
    display: none;
    font-size: 0.9em;
}

#infoPanel a {
 color:white;
}

#infoPanel .mediumImage {
  width: 320px;
  height: 320px;
}

#infoImage{
	width: 320px;
  height: 320px
}

#keyword {
    width: 15em;
}

#address {
    width: 15em;
}

#invisible {
    display: none;
}
