html { 
    height: 100%;
    width: 100%;
}

body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Lucida Grande;
}

#mapsContainer {
    width: 200%;
    height: 100%;
}
.mapOut{
    width: 50%;
    transition:left 0.7s;
    -webkit-transition:left 0.7s;
    float: left;
    position: relative;
    background-color: #444;
}

.map {
    min-height: 500px;
    margin: 30px;
    box-shadow: 0 0 15px 5px #000;
}

div.left {
    margin-right: 50px;
}

div.right {
    margin-left: 50px;
}

.arrow {
    width: 90px;
    height: 90px;
    display: inline-block;
    position: absolute;
    top: 383px;
    cursor: pointer;
}

#toSearch {
    background: url(../images/next.png) no-repeat;
    right: 27px;
}

#toRealtime {
    background: url(../images/previous.png) no-repeat;
    left: 27px;
}

@mixin panel {
    background: rgba(0, 0, 0, 0.78);
    border-radius: 4px;
    right: 50px;
    position: absolute;
    padding: 14px;
    color: white;
    width: 320px;

    input {
        height: 20px;
        width: 260px;
        border-radius: 3px;
    }
}

#searchPanel {
    @include panel;
    top: 65px;

    #searchButton {
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 20px;
        width: 38px;
        height: 37px;
        background: url(/images/search.png) no-repeat;
        cursor: pointer;
    }
}

#locationPanel {
    @include panel;
    top: 123px;

    #locationButton {
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 22px;
        width: 30px;
        height: 41px;
        background: url(/images/location.png) no-repeat;
        cursor: pointer;
    }
}

#infoPanel {
    @include panel;
    top: 191px;
    bottom: 80px;
    min-height: 350px;
    display: none;
    font-size: 0.9em;
    color: #8a8b8c;
}

#infoCreatedAt {
    margin-bottom: 5px;
}
#userPhoto {
    margin-bottom: 15px;
}
#username {
    font-weight: bold;
}

#imageContainer {
    margin-bottom: 15px;
}

#infoImage {
  width: 300px;
  height: 300px;
  border: 9px #cccccc solid;
}

#viewLightbox {
    display: inline-block;
    background-color: #191919;
    padding: 10px 15px;
    border-radius: 27px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

#keyword {
    width: 15em;
}

#address {
    width: 15em;
}

#invisible {
    display: none;
}
