<html>
    <head>
        <script src="scripts/jquery-1.7.2.min.js"></script>
    </head>

    <body>
				<ul>
					<% for photo in photos %>
						<li><img src="http://farm<%= photo.farm %>.staticflickr.com/<%= photo.server %>/<%= photo.id %>_<%= photo.secret %>.jpg"></img></li>
					<% end %>
				</ul>
    </body>
</html>
