<html>
    <head>
        <%= css :application, :media => 'screen' %>
        <%= js :application %>
    </head>

    <body>
    <a href="map">
        click for photos
    </a>


        visualise data on map
    </body>
</html>
