<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<%= css :application, :media => 'screen' %>
		<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>-->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDDl0u4l76xuStrTo9PJbCurMXMi23kEjk"></script>
		<%= js :application %>

        <script src="/galleria/galleria-1.2.7.js"></script>

        <style>

            /* This rule is read by Galleria to define the gallery height: */
            #galleria{height:320px}

        </style>
	</head>
	<body>
        <div id="galleria" style="display:none;">
            <!-- put temporary image in cause I'm confused!!! -->
                <img data-title="Locomotives Roundhouse"
                     data-description="Steam locomotives of the Chicago &amp; North Western Railway."
                     src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Locomotives-Roundhouse2.jpg/100px-Locomotives-Roundhouse2.jpg">
        </div>
        <div id="mapsContainer">
            <div class="mapOut">
                <div id="realtimeMapCanvas" class="map left"></div>
                <a class="arrow" view="search" id="toSearch"></a>
            </div>
            <div class="mapOut">
                <div id="mapCanvas" class="map right"></div>
                <a class="arrow" view='realtime' id="toRealtime"></a>

                <div id="searchPanel">
                    <form id="searchForm" action="photos_dev">
                        <div class="row">
                            <input id="keyword" name="keyword"/>
                            <button type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                </div>

                <div id="locationPanel">
                    <div class="row">
                        <input type="text" id="address"/>
                        <input type="button" value="Go" onclick="geocode()">
                    </div>
                </div>

                <div id="infoPanel">
                    <div id="infoCreatedAt"></div>
                    <div id="infoTitle"></div>
                    <div id="userPhoto"></div>
                    <div class='mediumImage'><img id="infoImage"/>
                </div>
                  <div>
                    <a id="viewLightbox" onclick="viewLightbox();">View all images</a>
                  </div>

            <div style="clear: both; margin-top: 10px;"></div>
        </div>
       </div>
	</body>
</html>

