<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<%= css :application, :media => 'screen' %>
		<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>-->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDDl0u4l76xuStrTo9PJbCurMXMi23kEjk"></script>
		<%= js :application %>
	</head>
	<body>
        <div id="mapsContainer">
            <div class="mapOut">
                <div id="realtimeMapCanvas" class="map left"></div>
                <a id="toSearch"></a>
            </div>
            <div class="mapOut">
                <div id="mapCanvas" class="map right"></div>
                <a id="toRealtime"></a>

                <div id="controlPanel">
                    <form id="searchForm" action="photos_dev">
                        <div class="row">
                            <input id="keyword" name="keyword"/>
                            <button type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                    <div class="row">
                        Find Places:
                        <input type="text" id="address"/>
                        <input type="button" value="Go" onclick="geocode()">
                    </div>
                </div>
                <div id="infoPanel">
                    <div id="infoTitle"></div>
                     <div class='mediumImage'><img id="infoImage"/>
        </div>
        <div><a id="userPhoto" href="photo/{username}">Search for more photos by this user</a></div>

        </div>

            <div style="clear: both; margin-top: 10px;"></div>
        </div>

	</body>
</html>

